.bb-custom-wrapper {
	background: #fff;
	width: 400px;
	height: 340px;
	position: relative;
	margin: 40px auto;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 5px 5px;
}

.bb-custom-wrapper:before, 
.bb-custom-wrapper:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
	left: 0;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 5px 5px;
}

.bb-custom-wrapper:before {
	top: 6px;
	z-index: -2;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}

.bb-custom-wrapper:after {
	top: 3px;
	z-index: -1;
}

.bb-bookblock {
	box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.1);
}

.bb-custom-wrapper h3 {
	color: #aaa;
	font-size: 12px;
	line-height: 16px;
	position: absolute;
	left: 10px;
	bottom: -3px;
}

.bb-custom-wrapper nav {
	width: 120px;
	margin: 8px 10px 0 0;
	float: right;
	position: relative;
	z-index: 0;
}

.bb-custom-wrapper nav a {
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/nav_small.png) center right;
	text-indent: -90000px;
	opacity: 0.8;
}

.bb-custom-wrapper nav a:hover {
	opacity: 1;
}

.bb-custom-wrapper nav a#bb-nav-prev {
	background-position: center left;
	margin-right: 5px;
}
.bb-custom-wrapper nav a#bb-nav-next {
	background-position: -43px 50%;
}

.bb-custom-wrapper nav a#bb-nav-jump {
	background-position: center right;
	float: right;
}