/* No JavaScript Style for demos */

.bb-bookblock, ul.bb-custom-grid li {
	width: auto;
	height: auto;
}

.bb-item {
	display: block;
	position: relative;
}

.bb-custom-wrapper {
	height: auto;
}

.bb-custom-content {
	height: 470px;
}

.bb-bookblock .folder-inner {
	left: 320px;
}

.bb-bookblock .folder-fold,
.bb-bookblock .folder-cover span,
#folder-close {
	display: none;
}